*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background: #1e1e1e;
}

header{
  width: 100%;
  height: 100px;
  background: black;
  border-bottom: 4px solid green;
}

header::after{
  content: '';
  clear: both;
  display: table;
}

.one{
  width: 30%;
  height: 100px;
  float: left;
}

.one img{
  width: 40%;
  height: 80px;
  margin-left: 30%;
  margin-top: 10px;
  border-radius: 60px;
}

.one img:hover{
  box-shadow: 0 0 20px green;
}

.two{
  width: 70%;
  height: 100px;
  float: right;
}

.two nav{
  width: 100%;
}

.two nav ul{
  margin-left: 5%;
  margin-top: 50px;
}

.two nav ul:hover{

}

.two nav ul li{
  text-align: center;
  border-right: 2px solid green;
  margin-right: 5%;
  list-style: none;
  color: white;
  font-size: 20px;
  display: inline-block;
}

.two nav ul li:hover{
  border-bottom: 3px solid green;
}

.two nav ul li a{
  text-decoration: none;
  color: white;
  text-align: center;
}

section{
  width: 100%;
}

.contanier{
  width: 100%;
}

.box {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  background: black;
  border-radius: 20px;
  box-shadow: 0 0 20px green;
}

.box::after{
  content: '';
  clear: both;
  display: table;
}

.in{
  width: 30%;
  border-right: 2px solid white;
  float: left;
}

.in nav{
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  background: #1e1e1e;
}

.in nav li{
  width: 70%;
  margin-left: 15%;
  list-style: none;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.in nav li:hover{
  border-right: 2px solid green;
  border-left: 2px solid green;
}

.in nav li a{
  text-decoration: none;
  color: white;
  font-size: 100%;
}

.in nav li a:hover{
  color: green;
}

.out{
  width: 68%;
  float: right;
}

.out h1{
  text-align: center;
  color: green;
  border-bottom: 1px solid lightgreen;
  margin-top: 15px;
}

.out p{
  margin-top: 10px;
  color: green;
}

.out small{
  color: lightgreen;
}
